DATABASE_URL=postgresql://signalscope:signalscope_password@postgres:5432/signalscope
REDIS_URL=redis://redis:6379/0
GEMINI_API_KEY=your_openai_api_key_here
FINNHUB_API_KEY=your_finnhub_api_key_here
JWT_SECRET_KEY=2c33490d71404c10607db99e99a65db0f81f1c611084c36ab41d07acbddf3f3b